<!--<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; WanderLust private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>-->
<style>
.social-icons {text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    }</style>
<footer>
    <div class="foot-panel1">
        Back to top
    </div>
    <div class="foot-panel2">
        
        <ul>
            <p >USEFUL LINKS</p>
            <a href="/listings/new"><i class="fa-solid fa-circle-plus social-icons"></i>create wanderlust</a>
            <a href="/listings"><i class="fa-solid fa-house social-icons"></i>home</a>
            <a href="/listings/aboutus"><i class="fa-solid fa-eject social-icons"></i>about us</a>
            <a href="/listings/contact"><i class="fa-regular fa-id-badge social-icons"></i>contact</a>
            <a href="/signup"><i class="fa-solid fa-user-plus social-icons"></i>SignUp</a>
            <a href="/login"><i class="fa-solid fa-bookmark social-icons"></i>login</a>
        </ul>
        <ul>
            <p>COMPANY</p>
            <a href=""><i class="fas fa-paper-plane social-icons"></i>trushabokha18@gmail.com</a>
            <a href=""><i class="fa-solid fa-square-phone social-icons"></i>635-324-7667</a>
            <a href=""> <i class="fa-regular fa-address-book social-icons"></i>33,shankar nagar steet</a>
            <a href="">surat,CA 395006</a>
           
        </ul>
        <ul>
            <p >FOLLOW BACK</p>
            <a href=""><i class="fab fa-facebook social-icons"></i>Facebook</a>
            <a href=""><i class="fa-brands fa-instagram social-icons"></i>Instragram</a>
            <a href=""><i class="fab fa-linkedin social-icons"></i>Linkedin</a>
            <a href=""> <i class="fa-brands fa-square-github social-icons"></i>Github</a>
            <a href=""><i class="fa-brands fa-pinterest social-icons"></i>Pinterst</a>
            <a href=""><i class="fa-brands fa-square-twitter social-icons"></i>Twitter</a>
        </ul>
        <ul>
            <p>USEFUL LINKS</p>
            <a href="">Privacy Policy</a>
            <a href="">Refund Policy</a>
            <a href="">Rental Policy</a>
            <a href="">Terms & Conditions</a>
            <a href="">Accessbility statement</a>
            <a href="">FAQ</a>
        </ul> 
   </div>
  
   <div class="foot-panel4">
        <div class="pages">
            <a >conditions of use</a>
            <a >privacy notice</a>
            <a >your ads privacy choices</a>
        </div>
        <div class="copyright">
            Created By <i class="fas fa-heart"></i> Trusha Bokha
        </div>
   </div>
</footer>